*.html!
*.java!
*.java!todo
*.tws
*/dependency-reduced-pom.xml
*/pom.xml.versionsBackup
*/target
.classpath
.logs/
.project
.releases/
.settings/
cchlib-apps-duplicatefilesmanager/.classpath
cchlib-apps-duplicatefilesmanager/com.googlecode.cchlib.apps.duplicatefiles.MessagesBundle
cchlib-apps-duplicatefilesmanager/target/
cchlib-apps-editresourcebundle/.classpath
cchlib-apps-editresourcebundle/com.googlecode.cchlib.apps.editresourcesbundle.MessagesBundle
cchlib-apps-editresourcebundle/target/
cchlib-apps-regexpbuilder/.classpath
cchlib-apps-regexpbuilder/target/
cchlib-core-beta/.classpath
cchlib-core-beta/target/
cchlib-core/.classpath
cchlib-core/target/
cchlib-i18n-test/.classpath
cchlib-i18n-test/com.googlecode.cchlib.i18n.unit.REF-empty
cchlib-i18n-test/target/
cchlib-i18n/.classpath
cchlib-i18n/target/
cchlib-io-test/.classpath
cchlib-io-test/target/
cchlib-io/.classpath
cchlib-io/target/
cchlib-j2ee/.classpath
cchlib-j2ee/target/
cchlib-jdbf/.classpath
cchlib-jdbf/target/
cchlib-net/.classpath
cchlib-net/target/
cchlib-nio/.classpath
cchlib-nio/target/
cchlib-sql/.classpath
cchlib-sql/target/
cchlib-swing/.classpath
cchlib-swing/target/
cchlib-sys/.classpath
cchlib-sys/target/
cchlib-unit/.classpath
cchlib-unit/target/
cchlib-x-googlecontact/.classpath
cchlib-x-googlecontact/target/
pom.xml.versionsBackup
target/
xcchlib-core-sample/.classpath
xcchlib-core-sample/target/
xcchlib-samples/.classpath
xcchlib-samples/target/
xcchlib-sandbox/xcchlib-sandbox-lib/.classpath
xcchlib-sandbox/xcchlib-sandbox-lib/target/
xcchlib-sandbox/xcchlib-sandbox-tools/.classpath
xcchlib-sandbox/xcchlib-sandbox-tools/target/
xcchlib-tools/.classpath
xcchlib-tools/target/
