*.classpath
*.java!
*.tws
*/dependency-reduced-pom.xml
*/pom.xml.versionsBackup
*/target
.classpath
.logs/
.project
.releases/
.settings/
cchlib-apps-duplicatefilesmanager/.classpath
cchlib-apps-duplicatefilesmanager/target/
cchlib-apps-duplicatefilesmanager/target/DuplicateFilesManager-4.1.8-SNAPSHOT-r20140411_2213.jar
cchlib-apps-editresourcebundle/target/
cchlib-apps-regexpbuilder/.classpath
cchlib-apps-regexpbuilder/target/
cchlib-core-beta/.classpath
cchlib-core-beta/target/
cchlib-core-deprecated/.classpath
cchlib-core-deprecated/target/
cchlib-core-sample/.classpath
cchlib-core-sample/target/
cchlib-core-test/target/
cchlib-core/.classpath
cchlib-core/target/
cchlib-i18n-deprecated/.classpath
cchlib-i18n-deprecated/target/
cchlib-i18n-test/com.googlecode.cchlib.i18n.unit.REF-empty
cchlib-i18n-test/target/
cchlib-i18n/.classpath
cchlib-i18n/com.googlecode.cchlib.i18n.unit.REF-empty
cchlib-i18n/target/
cchlib-io-test/.classpath
cchlib-io-test/target/
cchlib-io/.classpath
cchlib-io/target/
cchlib-j2ee-deprecated/.classpath
cchlib-j2ee-deprecated/target/
cchlib-j2ee/.classpath
cchlib-j2ee/target/
cchlib-jdbf/.classpath
cchlib-jdbf/target/
cchlib-net/.classpath
cchlib-net/target/
cchlib-nio/.classpath
cchlib-nio/target/
cchlib-samples/.classpath
cchlib-samples/target/
cchlib-sql/.classpath
cchlib-sql/target/
cchlib-swing-deprecated/.classpath
cchlib-swing-deprecated/target/
cchlib-swing/.classpath
cchlib-swing/target/
cchlib-sys/.classpath
cchlib-sys/target/
cchlib-tools-duplicatefiles/.classpath
cchlib-tools-duplicatefiles/target/
cchlib-tools/.classpath
cchlib-tools/target/
cchlib-unit/.classpath
cchlib-unit/target/
cchlib-x-googlecontact/.classpath
cchlib-x-googlecontact/target/
cchlib-x-sandbox/cchlib-x-sandbox-lib/.classpath
cchlib-x-sandbox/cchlib-x-sandbox-lib/target/
cchlib-x-sandbox/cchlib-x-sandbox-tools/.classpath
cchlib-x-sandbox/cchlib-x-sandbox-tools/target/
