body {
  background-color:#FFFFEE;
  color:#000000;
  font-family:sans-serif;
  font-size:small;
  }

img {
  border:0;
  }

.title {
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  color:#000000;
  text-align:center;
  vertical-align:baseline;
  }

.center {
  text-align:center;
  vertical-align:baseline;
  }
